.p-badge {
  display: block;
  border-radius: 20px;
  text-align: center;
  padding: 0px 8px 0px 8px;
  font-size: 10px;
  margin: 0rem;
  max-width: 25%;
}

.p-fileupload-filename {
  width: 190%;
}
