body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  padding: 20px;
}

.backgroundImage {
  margin-top: -25px;
  width: 100vw;
  height: auto;
  object-fit: cover;
  background: linear-gradient(135deg, #fbeeee, #f9f2f2);
}

.Home.blur-slight {
  filter: blur(1px);
  transition: filter 0.3s ease-in-out;
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4b2f31;
  text-align: center;
}

.Home {
  background-color: white;
}

.greet h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.greet p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.logos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 10px 0;
}

.logos {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.logos-slide {
  display: flex;
  width: max-content; /* Allows infinite scrolling */
  animation: scroll-left 20s linear infinite;
  opacity: 0.9;
}

.logos-row-2 .logos-slide {
  animation: scroll-right 20s linear infinite;
}

/* Infinite Scrolling Effect */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}

/* Logo Styling */
.logos-slide img {
  height: 70px;
  margin: 10px 15px;
  flex-shrink: 0;
  opacity: 0.8;
  transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
}

.logos-slide img:hover {
  opacity: 1;
  transform: scale(1.1);
}
