
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color:#D5EEFE;
}

.brand-icon {
  padding: 0px;
  margin: 0px;
  width: 300px;
}

.sign-out-button {
  padding: 8px 12px;
  background-color: #56b3f1;
  border-radius: 5px;
  color: #D5EEFE;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border:1px solid #56b3f1;
}

.sign-out-button:hover {
  color:#56b3f1;
  background-color: #D5EEFE;
  border:1px solid #56b3f1;
}

.button-group {
  display: flex;
  gap: 16px;
}

.login-button,
.signup{
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color:white;
  transition: background-color 0.3s ease;
}

.login-button {
  color: #56b3f1;
  border: 1px solid #56b3f1;
}

.login-button:hover {
  background-color: #56b3f1;
  color: #D5EEFE;
}

.signup {
  background-color: #56b3f1;
  border:1px solid #56b3f1;
}

.signup:hover {
  color:#56b3f1;
  background-color: #D5EEFE;
  border:1px solid #56b3f1;
}
