.profile{
    width: 90vw;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.personal-data{
    width:25%;
    margin: 50px 50px 50px 160px;
    height: 70vh;
    border-radius: 15px;
    border:.5px solid rgba(207, 207, 207, 0.9);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.main-profile{
    width:70%;
    margin: 50px 50px 50px 0px;
    border-radius: 15px;
    height: 150vh;
    border:.5px solid rgba(207, 207, 207, 0.9);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}