.super-main-signup {
    display: flex;
    width: 220vh;
    height: 100vh;
    background-color: #F0F0F0;
    overflow:hidden;
}

.bg {
    position: fixed;
    height: 100vh;
}

.signup-main-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-bottom: 100px;
}

.logo {
    width: 280px;
    background-color: #F0F0F0;
    z-index: 10;
}

.sign-up-content {
    margin-top: 27px;
    background-color: #F0F0F0;
    z-index: 10;
    height: 100px;
}

.welcome-text {
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 10px;
    color: #4B2F31;
}

.sub-header {
    font-size: 1rem;
    font-weight: 700;
    padding-left: 460px;
    margin-top: -15px;
    font-stretch: extra-expanded;
    width: 100%;
    color: #4B2F31;
}

.signup {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-container {
    margin-right: 100px;
    top:0;
}

.signup-subtext {
    font-size: small;
    background-color: rgb(255, 255, 255);
    margin: 33px 200px 30px 190px;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    align-items: start;
    gap: 10px;
    font-weight: 500;
}

.placeholder-box {
    width: 30%;
    height: 50px;
    background-color: #F0F0F0;
    z-index: 10;
    margin-left: 150px;
}
